/* My Header, Trying to get them to all float in the correct spot*/
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 0px;
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    
}

 h1 {
     background-color: #4aaaa5;
 }

 h2 {
     margin-left: 30px;
     margin-top: 30px;
     color: #4aaaa5;
 }

p {
    margin: 15px;
}
a:hover {
    color: #4aaaa5;
}

a{
    text-decoration:none;
    padding: 15px;
    color: #666666;
    
}

/*
trying to get headers to cooperate!
.headHr {
    color: grey;
    margin-top: 0px;
}
*/
.aboutMe .bodyHr{
    color: grey;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
} 

hr {
    color: grey;
    margin: 0px;
}
img {
    margin: 10px;
}

.top{
    text-decoration: none;
    text-align: right;
    width: 920px;
    margin: auto;
    overflow: auto;
    padding-top: 22px;
 }

 .name {
     text-align: left;
     margin: auto;
 }

.name {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    padding: 25.8px;
    margin-left: 30px;
}

.button {
    text-align: left;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    padding: 5px 20px;
    margin-bottom: 15px;
}

.mainInfoBox{
    border-color: #dddddd;
    border-width: 30px;
    border: #dddddd;
    width: 920px;
    background-color: #ffffff;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 75px;
}

.form {
    margin: 20px;
    width: 100%;
}

input {
    width: 95%;
    border-color: #777777;
    border-width: 1px;
}

textarea {
    width: 95%;
    border-color: #777777;
}

.imageGrid img {
    width: 33%;
    height: 33%;
    float: left;
    display: inline-block;
}

.container {
    position: relative;
}

.textcenter {
    position: absolute;
    left: 0;
    top: 50%;
    width: 33%;
    text-align: left;
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: white;
}