/* My Header, Trying to get them to all float in the correct spot*/
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
}

a{
    text-decoration: none;
}
.top{
    text-decoration: none;
    text-align: right;
    width: 920px;
    margin: auto;
 }
   
.name {
    background-color: #4aaaa5;
    text-align: left;
    color: white;
    padding: 20px;
}


img {
    margin: 10px;
}

 h1 {
     background-color: #4aaaa5;
 }

 h2 {
     margin-bottom: 30px;
     margin-left: 30px;
 }

.mainInfoBox{
    border-color: #dddddd;
    border-width: 30px;
    border: #dddddd;
    width: 920px;
    background-color: #ffffff;
    margin: auto;
    line-height: 2;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: white;
}